.post {
  &-toogle {
    &-link {
      &.isDisabled {
        cursor: default;
      }
    }
  }

  &--quoted {
    .avatar {
      @media screen and (max-width: 48em) {
        display: none;
      }
    }
  }

  &--add {
    &--charbar {
      transition: all 0.2s linear;

      .tracking {
        transition: all 0.2s linear;
      }

      .bar {
      }
    }
  }

  &--list {
    li {
      &:last-child {
        hr {
          margin-bottom: 0;
          margin-top: 1rem;
        }
      }
    }
  }

  &--header {
    &--name {
      a {
        cursor: pointer;
      }
    }
  }

  &--body {
    word-break: break-all;
  }
}
