@use "./assets/scss/tailwind.scss";
@use "./assets/scss/main";
@use "./assets/scss/posts";
@use "./assets/scss/userProfile";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::placeholder {
  color: #999;
}
