@import "./assets/scss/tailwind.scss";
@import "./assets/scss/_main.scss";
@import "./assets/scss/_posts.scss";

/* 
  General Rules
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::placeholder {
  color: #999;
}

